
#picture{
	margin-left:auto;
	margin-right:auto;
	height:50%;
	width:50%;
}

#name{
	text-align:center;
	font-weight:bold;
	color:#D6B5D6;
	font-size:170%;
}

#brand{
	text-align:center;
	color:#00007C;
	font-size:120%;
}

#price{
	text-align:center;
	color:#4D94FF;
	font-size:90%;
}

.clothes{
	background-color:#C2FFFF;
}

/* unvisited link */
a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #52A3CC;
}

/* mouse over link */
a:hover {
    color: #000066;
}

/* selected link */
a:active {
    color: #99FFCC;
}
